.category {
 position: relative;
 padding: 0 20px;
 margin-bottom: 60px;

 .anc_cats {
  @include flex-var(flex, center, center);
  flex-direction: column;




  span {
   font-size: 14px;
   line-height: 20px;
   color: #000000;
   text-align: center;
   height: 40px;
   transition: .5s;
  }

  .img-cats {
   @include flex-var(flex, center, center);
   width: 120px;
   height: 120px;
   border-radius: 60px;
   background-color: #e8efe8;
   margin-bottom: 10px;
   transition: .5s;

   img {
    filter: brightness(0) saturate(100%) invert(52%) sepia(18%) saturate(804%) hue-rotate(70deg) brightness(91%) contrast(93%);
   }
  }

  &:hover {
   span {
    color: #f12f2f;
   }

   .img-cats {
    background-color: #f12f2f;

    img {
     filter: none;
     // filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(239deg) brightness(106%) contrast(98%) !important;
     // -webkit-filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(239deg) brightness(106%) contrast(98%) !important;
    }
   }
  }
 }


}

@include xs {
 .category {
  padding: 0;

  .anc_cats {


   .img-cats {
    width: 105px;
    height: 105px;
   }
  }
 }


}

.category .swiper-button-next,
.category .swiper-rtl .swiper-button-prev {
 right: -10px;
}

.category .swiper-button-prev,
.category .swiper-rtl .swiper-button-next {
 left: -10px;
}

.category .swiper-button-next,
.category .swiper-button-prev {
 top: 36%;
}